<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ecommerce</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/custom.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <title>Home</title>
    <style>
        #toplogo {
            max-width: 120px;
        }

        .footer {
            text-align: center;
            line-height: 10px;
        }

        .space {
            height: 100px;
        }
    </style>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow m-0 p-0 bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img id="toplogo" src="~/images/logo.png"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="row">
        <div class="col-12">
            <table class="space">
                <tr>
                </tr>
            </table>
        </div>
    </div>

    <footer class="border-top footer text-muted bg-light">
        <div class="row">
            <div class="col-md-4 ">
                <br>
                <h3>About<span> THTelectronics</span></h3>
                <img id="toplogo" src="~/images/logo.png">
                <p class="footer-links">
                    <a href="#">Home</a>
                    |
                    <a href="#">Blog</a>
                    |
                    <a href="#">About</a>
                    |
                    <a href="#">Contact</a>
                </p>


            </div>
            <div class="col-md-4 ">


                <p><i class="fa fa-map-marker"></i> 4800 Calhoun Rd,</p>
                <p>Bldg. No. A - 1, Sector - 1</p>
                <p>Houston, Texas, USA  - 77004 </p>




                <p> <i class="fa fa-phone"></i>+1 832 555 9999</p>



                <p> <i class="fa fa-envelope"></i><a href="mailto:support@eduonix.com">support@THTelectronics.com</a></p>



            </div>
            <div class="col-md-4 ">
                <br>
                <br>
                <div class="container-fluid">
                    <span><b>About the company</b></span>
                    <br>
                    <br><br>
                    <p>We offer the best price of electronics</p><p> and skill building courses across Technology, Design, Science.</p>
                    <div class="footer-icons">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-youtube"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>