@{
    ViewData["Title"] = "Privacy Policy";
}

<style>
    .content {
        margin-top: auto;
        margin-bottom: auto;
        padding-bottom: 100px;
        padding-top: 100px;
        text-align: center;
    }

    .card-title {
        font-family: monospace, 'Arial Narrow', Arial, sans-serif;
        color: cornflowerblue;
        font-weight: 700;
    }
</style>



<div class="container content">
    <div class="row">
        <div class="col-md-3">
            <div class="card shadow-lg rounded" style="width: 18rem;">
                <img src="~/images/admin1.jpg" class="card-img-top" alt="...">
                <h5 class="card-title"><br />Loi Ha</h5>
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <div class="card-body">
                    <a class="btn btn-primary" href="#" role="button">&nbsp;Call&nbsp;</a>
                    &nbsp; &nbsp;
                    <a class="btn btn-primary" href="#" role="button">Email </a>
                </div>
            </div>
        </div>

        <div class="col-md-1"></div>

        <div class="col-md-3">
            <div class="card shadow-lg rounded" style="width: 18rem;">
                <img src="~/images/admin2.jpg" class="card-img-top" alt="...">
                <h5 class="card-title"><br />Quang Tran</h5>
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <div class="card-body">
                    <a class="btn btn-primary" href="#" role="button">&nbsp;Call&nbsp;</a>
                    &nbsp; &nbsp;
                    <a class="btn btn-primary" href="#" role="button">Email </a>
                </div>
            </div>
        </div>

        <div class="col-md-1"></div>

        <div class="col-md-3">
            <div class="card shadow-lg rounded" style="width: 18rem;">
                <img src="~/images/admin3.jpg" class="card-img-top" alt="...">
                <h5 class="card-title"><br />Huy Tran</h5>
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <div class="card-body">
                    <a class="btn btn-primary" href="#" role="button">&nbsp;Call&nbsp;</a>
                    &nbsp; &nbsp;
                    <a class="btn btn-primary" href="#" role="button">Email </a>
                </div>
            </div>
        </div>

        <div class="col-md-1"></div>
    </div>

</div>


